<!DOCTYPE html>
<html>
        <head>
            <title>SAIL - GUJARAT</title>
        <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}/" type="image/icon type">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}/">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <style>
          .row{display:-ms-flexbox;display:flex;justify-content:center;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;}

          </style>


</head>
<body class="stb">

    <div id="wrapper">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/home"><img src="{{ url_for('static', filename='img/logo.png') }}/"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      &#9776;
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav ml-auto text-center">
                        <li class="nav-item">
                          <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/weather">Weather</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href='/signup'>Sign-up</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/about">About</a>
                        </li>
                      </ul>
                    </div>
                  </nav>

    </div>

    <div style="height:auto;width:90%;margin:auto;">
      <h3 style="margin-left: 5%; margin-top:auto;">GUJARAT</h3>
      <p style="margin-left: 5%; margin-top:auto;">Gujarat (/ˌɡʊdʒəˈrɑːt/, Gujarati: [ˈɡudʒəɾɑt] ) is a state on the western coast of India with a coastline of 1,600 km (990 mi) – most of which lies on the Kathiawar peninsula – and a population in excess of 60 million. It is the fifth largest Indian state by area and the ninth largest state by population. Gujarat is bordered by Rajasthan to the northeast, Daman and Diu to the south, Dadra and Nagar Haveli and Maharashtra to the southeast, Madhya Pradesh to the east, and the Arabian Sea and the Pakistani province of Sindh to the west. Its capital city is Gandhinagar, while its largest city is Ahmedabad.The Gujarati-speaking people of India are indigenous to the state. The economy of Gujarat is the fifth-largest state economy in India with ₹13.14 lakh crore (US$190 billion) in GDP and a per capita GDP of ₹174,000 (US$2,500).Gujarat ranks fifteenth among Indian states in human development index.</p>
      <hr style="margin-left: 5%; margin-top:auto;">
      <p style="margin-left: 5%; margin-top:auto;">The state encompasses some sites of the ancient Indus Valley Civilisation, such as Lothal, Dholavira and Gola Dhoro. Lothal is believed to be one of the world's first seaports. Gujarat's coastal cities, chiefly Bharuch and Khambhat, served as ports and trading centers in the Maurya and Gupta empires, and during the succession of royal Saka dynasties from the Western Satraps era. Along with Bihar and Nagaland, Gujarat is one of the three Indian states to prohibit the sale of alcohol. Gir Forest National Park in Gujarat is home of the only wild population of the Asiatic lion in the world. </p>
    </div>

      <div style="height: auto;width:90%;margin:auto;">
        <h3 style="margin-left:5%;">Tourist Spots</h3>

        <div class="row" >
          <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
            <div class="row" style="padding: 10px 1px; border-radius:2px;">

                        <div class="col-md-auto"  style=" width:auto; height:auto;">

                                <div class="bd-example" >
                                      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <img  src= "https://www.adotrip.com/public/images/areas/master_images/5c3db4558916b-Gir_Attractions.jpg" class="d-block w-100" alt="...">
                                              <div class="carousel-caption d-none d-md-block">
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <img src="https://www.adotrip.com/public/images/areas/5c3db453afe88-Gir%20Sight%20Seeing%20Tour.jpg" class="d-block w-100" alt="...">

                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://www.adotrip.com/public/images/areas/5c3db4529095f-Gir%20Package%20Tour.jpg" class="d-block w-100" alt="...">

                                              </div>
                                          </div>

                                      </div>
                                    </div>

                                    <div class="col-md-auto">
                                      <h6 class="text-center">Gir National Park</h6>
                                      <a href="https://en.wikipedia.org/wiki/Gir_National_Park" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                      <a href= "https://www.google.com/maps/place/Gir+National+Park/@21.1243054,70.8241507,13z/data=!4m5!3m4!1s0x0:0x3408d6d983464baf!8m2!3d21.1243054!4d70.8241507" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                      <a href=""><i class="fa fa-inbox"></i> National Park</a><br>
                                      <a href="/weather#GUJARAT"><i class="fa fa-umbrella"></i>weather</a>
                                  </div></div>

              </div>
          </div>

          <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
            <div class="row" style="padding: 10px 1px; border-radius:2px;">

                        <div class="col-md-auto"  style=" width:auto; height:auto;">

                                <div class="bd-example" >
                                      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <img  src= "https://www.adotrip.com/public/images/areas/5c3db5156ee31-Somnath%20Temple%20Sightseeing.jpg" class="d-block w-100" alt="...">
                                              <div class="carousel-caption d-none d-md-block">
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <img src="https://s1.dmcdn.net/v/NMsOQ1QnnVetiQWQ8/x1080" class="d-block w-100" alt="...">

                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://www.adotrip.com/public/images/areas/5c3db5156ee31-Somnath%20Temple%20Sightseeing.jpg" class="d-block w-100" alt="...">

                                              </div>
                                          </div>

                                      </div>
                                    </div>

                                    <div class="col-md-auto">
                                      <h6 class="text-center">Jyotirlinga Temple</h6>
                                      <a href="https://en.wikipedia.org/wiki/Somnath_temple" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                      <a href= "https://www.google.com/maps/place/Shree+Somnath+Jyotirlinga+Temple/@20.8880469,70.4011569,15z/data=!4m5!3m4!1s0x0:0x2f5a510de9857963!8m2!3d20.8880469!4d70.40115690" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                      <a href=""><i class="fa fa-inbox"></i>Temple</a><br>
                                      <a href="/weather#GUJARAT"><i class="fa fa-umbrella"></i>weather</a>
                                  </div></div>

              </div>
          </div>

          <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
            <div class="row" style="padding: 10px 1px; border-radius:2px;">

                        <div class="col-md-auto"  style=" width:auto; height:auto;">

                                <div class="bd-example" >
                                      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <img  src= " https://media.architecturaldigest.in/wp-content/uploads/2018/07/61.jpg" class="d-block w-100" alt="...">
                                              <div class="carousel-caption d-none d-md-block">
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <img src="https://s2.dmcdn.net/v/OzqZ11RyaiftnxtAj/x1080" class="d-block w-100" alt="...">

                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://media.architecturaldigest.in/wp-content/uploads/2018/07/51.jpg" class="d-block w-100" alt="...">

                                              </div>
                                          </div>

                                      </div>
                                    </div>

                                    <div class="col-md-auto">
                                      <h6 class="text-center">Rani Ki Vav</h6>
                                      <a href="https://en.wikipedia.org/wiki/Rani_ki_vav" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                      <a href= "https://www.google.com/maps/place/Rani+Ki+Vav/@23.8589023,72.101922,15z/data=!4m5!3m4!1s0x0:0x862b7fd5c02033ab!8m2!3d23.8589023!4d72.101922" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                      <a href=""><i class="fa fa-inbox"></i>Artitecture</a><br>
                                      <a href="/weather#GUJARAT"><i class="fa fa-umbrella"></i>weather</a>
                                  </div></div>

              </div>
          </div>
        </div>


        <div class="row" >
            <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
                <div class="row" style="padding: 10px 1px; border-radius:2px;">

                            <div class="col-md-auto"  style=" width:auto; height:auto;">

                                    <div class="bd-example" >
                                          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                              <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                  <img  src= "https://media.architecturaldigest.in/wp-content/uploads/2017/07/Sabarmati-Ashram-Ahmedabad.jpg" class="d-block w-100" alt="...">
                                                  <div class="carousel-caption d-none d-md-block">
                                                  </div>
                                                </div>
                                                <div class="carousel-item">
                                                  <img src="https://upload.wikimedia.org/wikipedia/commons/0/07/Sabarmati_Ashram_Ahmedabad_-_panoramio.jpg" class="d-block w-100" alt="...">

                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://media.architecturaldigest.in/wp-content/uploads/2017/07/Sabarmati-Ashram-Ahmedabad.jpg" class="d-block w-100" alt="...">

                                                  </div>
                                              </div>

                                          </div>
                                        </div>

                                        <div class="col-md-auto">
                                          <h6 class="text-center">Sabarmati Ashram</h6>
                                          <a href="https://en.wikipedia.org/wiki/Sabarmati_Ashram" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                          <a href= "https://www.google.com/maps/place/Sabarmati+Ashram/@23.0607723,72.5808868,15z/data=!4m5!3m4!1s0x0:0x16cbb1101e5729a3!8m2!3d23.0607723!4d72.5808868" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                          <a href=""><i class="fa fa-inbox"></i>Memoral</a><br>
                                          <a href="/weather#GUJARAT"><i class="fa fa-umbrella"></i>weather</a>
                                      </div></div>

                  </div>
              </div>

              <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
                <div class="row" style="padding: 10px 1px; border-radius:2px;">

                            <div class="col-md-auto"  style=" width:auto; height:auto;">

                                    <div class="bd-example" >
                                          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                              <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                  <img  src= "https://www.adotrip.com/public/images/areas/5c3db4d42271b-Rann%20of%20Kutch%20Road%20trip.jpg" class="d-block w-100" alt="...">
                                                  <div class="carousel-caption d-none d-md-block">
                                                  </div>
                                                </div>
                                                <div class="carousel-item">
                                                  <img src="http://www.texatrove.com/wp-content/uploads/2018/01/ROK1920X1080.jpg" class="d-block w-100" alt="...">

                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://www.adotrip.com/public/images/areas/5c3db4d42271b-Rann%20of%20Kutch%20Road%20trip.jpg" class="d-block w-100" alt="...">

                                                  </div>
                                              </div>

                                          </div>
                                        </div>

                                        <div class="col-md-auto">
                                          <h6 class="text-center">Rann of Kutch</h6>
                                          <a href="https://en.wikipedia.org/wiki/Rann_of_Kutch" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                          <a href= "https://www.google.com/maps/place/Rann+of+Kutch,+Gujarat+370165/data=!4m2!3m1!1s0x39501122d909338b:0xe95a3ce1c83ae0d4?sa=X&ved=2ahUKEwiOv4CribLlAhV_8HMBHYDaA0MQ8gEwHXoECA8QBA" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                          <a href=""><i class="fa fa-inbox"></i>Beach</a><br>
                                          <a href="/weather#GUJARAT"><i class="fa fa-umbrella"></i>weather</a>
                                      </div></div>

                  </div>
              </div>


        </div>












      </div>











      </div>
    </div>

        <!-- Footer -->
<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-3">
					<h5>Home page</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/home"><i class="fa fa-angle-double-right"></i>Home</a></li>

					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<h5>About Us</h5>
					<ul class="list-unstyled quick-links">

						<li><a href="/about"><i class="fa fa-angle-double-right"></i>About</a></li>

					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<h5>Weather</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/weather"><i class="fa fa-angle-double-right"></i>Weather</a></li>

					</ul>
                </div>
                <div style="margin: auto;" class="col-xs-12 col-sm-4 col-md-3">
					<h5>Application</h5>
					<ul class="list-unstyled quick-links">
                        <li><a href=""><img src="/static/img/googleplay.jpg" style="height:30.5px;width:103.25px;border-radius:10px;"></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>Soon on play store</a></li>

					</ul>
				</div>
			</div>
			<div class="row">

					<ul class="list-unstyled text-center" style="display: flex; margin: auto;justify-content: space-between;width: 50%;">
                                    <li ><a href="javascript:void();"><img src="{{ url_for('static', filename='img/twitter.png') }}/" height="30px" width="30px"></a></li>
                                    <li ><a href="https://www.instagram.com/sail_at_india/" target="_blank"><img src="{{ url_for('static', filename='img/instagram.png') }}/" height="30px" width="30px"></i></a></li>
						<li ><a href="mailto:sailatindia@gmail.com"><img src="{{ url_for('static', filename='img/search.png') }}/" height="30px" width="30px"></a></li>

                              </ul>
				</div>
				</hr>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>This site was built by <u><a href=""><b>Mechanical</b></a></u> Students Of Karpagam College of Engineering . For further enquiry contact above links of us</p>
					<p class="h6">&copy All right Reserved.<a class="text-green ml-2" >Team SAIL_INDIA</a></p>
				</div>
				</hr>
			</div>
		</div>
	</section>
    <!-- ./Footer -->

  </body>
  </html>