<!DOCTYPE html>
<html>
        <head>
            <title>SAIL - LADAKH</title>
        <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}/" type="image/icon type">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}/">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <style>
          .row{display:-ms-flexbox;display:flex;justify-content:center;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;}
body{
        background-color:black !important;

    }
        p{
    color:white !important;
}
          </style>


</head>
<body>

    <div id="wrapper">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/home"><img src="{{ url_for('static', filename='img/logo.png') }}/"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      &#9776;
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav ml-auto text-center">
                        <li class="nav-item">
                          <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/weather">Weather</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href='/signup'>Sign-up</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/about">About</a>
                        </li>
                      </ul>
                    </div>
                  </nav>

    </div>

    <div style="height:auto;width:90%;margin:auto;">
        <h3 style="margin-left: 5%; margin-top:auto;">LADAKH</h3>
        <p style="margin-left: 5%; margin-top:auto;">Ladakh is a region administered by India, located in the northern part of the Indian subcontinent, and a part of the larger region of Kashmir, which has been the subject of dispute between India, Pakistan, and China since 1947.Contemporary Ladakh borders Tibet to the east, the Lahaul and Spiti regions to the south, the Vale of Kashmir, Jammu region and Baltistan to the west, and the southwest corner of Xinjiang across the Karakoram Pass in the far north. It extends from the Siachen Glacier in the Karakoram range to the main Great Himalayas to the south.In August 2019, the Parliament of India passed an act by which Ladakh will become a union territory on 31 October 2019.</p>
        <hr style="margin-left: 5%; margin-top:auto;">
        <p style="margin-left: 5%; margin-top:auto;">The largest town in Ladakh is Leh, followed by Kargil.The main religious groups in the region are Muslims (mainly Shia) (46%), Tibetan Buddhists (40%), Hindus (12%) and others (2%).Ladakh is one of the most sparsely populated regions in India and its culture and history are closely related to that of Tibet. It is renowned for its remote mountain beauty and culture. </p>
      </div>



      <div style="height: auto;width:90%;margin:auto;">
        <h3 style="margin-left:5%;">Tourist Spots</h3>

        <div class="row" >
          <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
            <div class="row" style="padding: 10px 1px; border-radius:2px;">

                        <div class="col-md-auto"  style=" width:auto; height:auto;">

                                <div class="bd-example" >
                                      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <img  src= "http://www.famousplacesinindia.in/Hill-Stations/Images/Zanskar-Valley/Zanskar-Valley-2.jpg" class="d-block w-100" alt="...">
                                              <div class="carousel-caption d-none d-md-block">
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <img src="https://www.adotrip.com/public/images/areas/master_images/5c6fe0daae953-Zanskar_Valley_Attractions.jpg" class="d-block w-100" alt="...">

                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://www.adotrip.com/public/images/areas/5c6fe0da5775e-Zanskar%20Valley%20Trip.jpg" class="d-block w-100" alt="...">

                                              </div>
                                          </div>

                                      </div>
                                    </div>

                                    <div class="col-md-auto">
                                      <h6 class="text-center">Zanskar Valley</h6>
                                      <a href="https://en.wikipedia.org/wiki/Zanskar" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                      <a href= "https://www.google.com/maps/place/Zanskar+194302/@33.5625603,76.9702454,14z/data=!3m1!4b1!4m5!3m4!1s0x390291f2ae1b57bb:0x736eba6f94fd593a!8m2!3d33.562562!4d76.987755" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                      <a href=""><i class="fa fa-inbox"></i>River</a><br>
                                      <a href="/weatherpage4#ladakh"><i class="fa fa-umbrella"></i>weather</a>
                                  </div></div>

              </div>
          </div>

          <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
            <div class="row" style="padding: 10px 1px; border-radius:2px;">

                        <div class="col-md-auto"  style=" width:auto; height:auto;">

                                <div class="bd-example" >
                                      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <img  src= "https://goats.b-cdn.net/wp-content/uploads/2019/09/Kargil.jpg" class="d-block w-100" alt="...">
                                              <div class="carousel-caption d-none d-md-block">
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <img src="https://www.adotrip.com/public/images/areas/5d495011efd98-Kargil%20Package%20Tour.jpg" class="d-block w-100" alt="...">

                                            </div>
                                            <div class="carousel-item">
                                                <img src=" http://topjankari.com/Assets/img/blog/post/Top574.jpg " class="d-block w-100" alt="...">

                                              </div>
                                          </div>

                                      </div>
                                    </div>

                                    <div class="col-md-auto">
                                      <h6 class="text-center">Kargil</h6>
                                      <a href="https://en.wikipedia.org/wiki/Kargil" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                      <a href= "https://www.google.com/maps/place/Kargil+194103/@33.4796445,74.2814006,7.25z/data=!4m5!3m4!1s0x38e323b1c052debb:0xa73f2023eb4fccae!8m2!3d34.5538522!4d76.1348944" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                      <a href=""><i class="fa fa-inbox"></i>Memoral Place</a><br>
                                      <a href="/weatherpage4#ladakh"><i class="fa fa-umbrella"></i>weather</a>
                                  </div></div>

              </div>
          </div>

          <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
            <div class="row" style="padding: 10px 1px; border-radius:2px;">

                        <div class="col-md-auto"  style=" width:auto; height:auto;">

                                <div class="bd-example" >
                                      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <img  src= "https://www.adotrip.com/public/images/areas/master_images/5c6fdbe009ded-Khardung_La_Pass_Attractions.jpg" class="d-block w-100" alt="...">
                                              <div class="carousel-caption d-none d-md-block">
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <img src="http://www.readersride.com/wp-content/uploads/2017/05/Khardung-La-Pass.jpg" class="d-block w-100" alt="...">

                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://i0.wp.com/djthewayfarer.com/wp-content/uploads/2017/01/IMG_20161226_111006.jpg?fit=1920%2C1080" class="d-block w-100" alt="...">

                                              </div>
                                          </div>

                                      </div>
                                    </div>

                                    <div class="col-md-auto">
                                      <h6 class="text-center">Khardung-la Pass</h6>
                                      <a href="https://en.wikipedia.org/wiki/Khardung_La" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                      <a href= "https://www.google.com/maps/place/Khardung+La,+194101/data=!4m2!3m1!1s0x38fdc0fef3b9c14b:0x37ec5dd55776d9f1?sa=X&ved=2ahUKEwi2u5-AhrDlAhXKMY8KHWo_BgsQ8gEwH3oECA0QBA" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                      <a href=""><i class="fa fa-inbox"></i>Roads </a><br>
                                      <a href="/weatherpage4#ladakh"><i class="fa fa-umbrella"></i>weather</a>
                                  </div></div>

              </div>
          </div>
        </div>


        <div class="row" >
            <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
                <div class="row" style="padding: 10px 1px; border-radius:2px;">

                            <div class="col-md-auto"  style=" width:auto; height:auto;">

                                    <div class="bd-example" >
                                          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                              <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                  <img  src= "https://www.adotrip.com/public/images/areas/master_images/5c6fddb0c7860-Nubra_Valley_Attractions.jpg" class="d-block w-100" alt="...">
                                                  <div class="carousel-caption d-none d-md-block">
                                                  </div>
                                                </div>
                                                <div class="carousel-item">
                                                  <img src="https://www.adotrip.com/public/images/areas/5c6fddae1f471-Nubra%20Valley%20Places%20to%20See.jpg" class="d-block w-100" alt="...">

                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://www.adotrip.com/public/images/areas/5c6fddb06aeeb-Nubra%20Valley%20Trip.jpg" class="d-block w-100" alt="...">

                                                  </div>
                                              </div>

                                          </div>
                                        </div>

                                        <div class="col-md-auto">
                                          <h6 class="text-center">Nubra Valley</h6>
                                          <a href="https://en.wikipedia.org/wiki/Nubra_Valley" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                          <a href= "https://www.google.com/maps/place/Nubra+Valley/@34.6863128,77.5497784,14z/data=!3m1!4b1!4m5!3m4!1s0x38fc367354176591:0x8bc4556bab23cae9!8m2!3d34.6863146!4d77.567288" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                          <a href=""><i class="fa fa-inbox"></i>Temple</a><br>
                                          <a href="/weatherpage4#ladakh"><i class="fa fa-umbrella"></i>weather</a>
                                      </div></div>

                  </div>
              </div>

              <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
                <div class="row" style="padding: 10px 1px; border-radius:2px;">

                            <div class="col-md-auto"  style=" width:auto; height:auto;">

                                    <div class="bd-example" >
                                          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                              <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                  <img  src= "https://goats.b-cdn.net/wp-content/uploads/2019/03/53970406_268111014120917_637838983174291456_n.jpg" class="d-block w-100" alt="...">
                                                  <div class="carousel-caption d-none d-md-block">
                                                  </div>
                                                </div>
                                                <div class="carousel-item">
                                                  <img src="http://www.famousplacesinindia.in/Famous/Images/Magnetic-Hill/Magnetic-Hill-1.jpg" class="d-block w-100" alt="...">

                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://www.adotrip.com/public/images/areas/5d512ab537882-Magnetic%20Hill%20Tours.jpg" class="d-block w-100" alt="...">

                                                  </div>
                                              </div>

                                          </div>
                                        </div>

                                        <div class="col-md-auto">
                                          <h6 class="text-center">Magnetic Hill</h6>
                                          <a href="https://en.wikipedia.org/wiki/Magnetic_Hill_(India)" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                          <a href= "https://www.google.com/maps/place/Magnetic+Hill/@34.1762932,77.3507667,16z/data=!3m1!4b1!4m5!3m4!1s0x38fd9838a0409b27:0x93a1a42e751c8c2e!8m2!3d34.1763828!4d77.3550541" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                          <a href=""><i class="fa fa-inbox"></i>Hill</a><br>
                                          <a href="/weatherpage4#ladakh"><i class="fa fa-umbrella"></i>weather</a>
                                      </div></div>

                  </div>
              </div>

              <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
                <div class="row" style="padding: 10px 1px; border-radius:2px;">

                            <div class="col-md-auto"  style=" width:auto; height:auto;">

                                    <div class="bd-example" >
                                          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                              <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                  <img  src= "https://www.mountainhomestays.com/wp-content/uploads/2019/03/Wild7.jpg" class="d-block w-100" alt="...">
                                                  <div class="carousel-caption d-none d-md-block">
                                                  </div>
                                                </div>
                                                <div class="carousel-item">
                                                  <img src="http://www.excitingworldtravels.com/wp-content/uploads/2013/07/a-snow-leopard-31.jpg" class="d-block w-100" alt="...">

                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://s1.dmcdn.net/v/Nxt6g1S6W8C7VTvmW/x1080" class="d-block w-100" alt="...">

                                                  </div>
                                              </div>

                                          </div>
                                        </div>

                                        <div class="col-md-auto">
                                          <h6 class="text-center">Hemis National Park</h6>
                                          <a href="https://en.wikipedia.org/wiki/Hemis_National_Park" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                          <a href= "https://www.google.com/maps/place/Hemis+National+Park/@33.7187876,77.1168172,10z/data=!4m12!1m6!3m5!1s0x0:0xf74ea9833e5618e2!2sHemis+National+Park!8m2!3d33.7187211!4d77.3882224!3m4!1s0x0:0xf74ea9833e5618e2!8m2!3d33.7187211!4d77.3882224" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                          <a href=""><i class="fa fa-inbox"></i>Park</a><br>
                                          <a href="/weatherpage4#ladakh"><i class="fa fa-umbrella"></i>weather</a>
                                      </div></div>

                  </div>
              </div>
        </div>


        <div class="row" >
            <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
                <div class="row" style="padding: 10px 1px; border-radius:2px;">

                            <div class="col-md-auto"  style=" width:auto; height:auto;">

                                    <div class="bd-example" >
                                          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                              <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                  <img  src= "https://devilonwheels.com/wp-content/uploads/2016/03/Phugtal_Monastery_Gompa.jpg" class="d-block w-100" alt="...">
                                                  <div class="carousel-caption d-none d-md-block">
                                                  </div>
                                                </div>
                                                <div class="carousel-item">
                                                  <img src="https://www.adotrip.com/public/images/areas/5d492480997ec-Lamayuru%20Monastery%20Package%20Tour.jpg" class="d-block w-100" alt="...">

                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://www.bingwallpaperhd.com/wp-content/uploads/2019/05/LamayuruMonastery.jpg" class="d-block w-100" alt="...">

                                                  </div>
                                              </div>

                                          </div>
                                        </div>

                                        <div class="col-md-auto">
                                          <h6 class="text-center">Moonland</h6>
                                          <a href="https://en.wikipedia.org/wiki/Lamayuru_Monastery" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                          <a href= "https://www.google.com/maps/place/The+Lamayuru+Monastery/@34.2830063,76.7741881,15z/data=!4m2!3m1!1s0x0:0x98241af475802b40?sa=X&ved=2ahUKEwi8qO2_4q3lAhVLMY8KHeknD24Q_BIwH3oECAwQCw" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                          <a href=""><i class="fa fa-inbox"></i>Place</a><br>
                                          <a href="/weatherpage4#ladakh"><i class="fa fa-umbrella"></i>weather</a>
                                      </div></div>

                  </div>
              </div>

              <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
                <div class="row" style="padding: 10px 1px; border-radius:2px;">

                            <div class="col-md-auto"  style=" width:auto; height:auto;">

                                    <div class="bd-example" >
                                          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                              <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                  <img  src= "https://i.pinimg.com/originals/5f/dd/c5/5fddc5b2b29014e7cb6d9fe3fd174b4d.jpg" class="d-block w-100" alt="...">
                                                  <div class="carousel-caption d-none d-md-block">
                                                  </div>
                                                </div>
                                                <div class="carousel-item">
                                                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Pangong_Tso_and_Tso_Moriri_Lake_Drone_Video.webm/1920px--Pangong_Tso_and_Tso_Moriri_Lake_Drone_Video.webm.jpg" class="d-block w-100" alt="...">

                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://www.adotrip.com/public/images/areas/5d512fa970f4a-Tso%20Moriri%20Trip.jpg" class="d-block w-100" alt="...">

                                                  </div>
                                              </div>

                                          </div>
                                        </div>

                                        <div class="col-md-auto">
                                          <h6 class="text-center">Tso Moriri Lake</h6>
                                          <a href="https://en.wikipedia.org/wiki/Tso_Moriri" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                          <a href= "https://www.google.com/maps/place/Tso+Moriri,+194404/data=!4m2!3m1!1s0x39011569dbf9ff71:0xd7f871fe3b84562d?sa=X&ved=2ahUKEwjJjOey463lAhUGrY8KHauOCJkQ8gEwFnoECAwQBA " target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                          <a href=""><i class="fa fa-inbox"></i>Lake</a><br>
                                          <a href="/weatherpage4#ladakh"><i class="fa fa-umbrella"></i>weather</a>
                                      </div></div>

                  </div>
              </div>

              <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
                <div class="row" style="padding: 10px 1px; border-radius:2px;">

                            <div class="col-md-auto"  style=" width:auto; height:auto;">

                                    <div class="bd-example" >
                                          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                              <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                  <img  src= "https://alpineclimbers.in/ac/wp-content/uploads/2018/10/07-1.jpg" class="d-block w-100" alt="...">
                                                  <div class="carousel-caption d-none d-md-block">
                                                  </div>
                                                </div>
                                                <div class="carousel-item">
                                                  <img src="https://alpineclimbers.in/ac/wp-content/uploads/2018/10/04-1.jpg" class="d-block w-100" alt="...">

                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://alpineclimbers.in/ac/wp-content/uploads/2018/10/05-1.jpg" class="d-block w-100" alt="...">

                                                  </div>
                                              </div>

                                          </div>
                                        </div>

                                        <div class="col-md-auto">
                                          <h6 class="text-center">Chadar Trek</h6>
                                          <a href="https://en.wikipedia.org/wiki/Chadar_trek" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                          <a href= "https://www.google.com/maps/d/u/0/embed?mid=1QQ450w9kcL99S319cm2Ti90Y5fM&msa=0&hl=en&ie=UTF8&t=h&ll=33.92399000000003%2C77.02034000000003&spn=0.199417%2C0.291824&z=11&output=embed " target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                          <a href=""><i class="fa fa-inbox"></i>Hills</a><br>
                                          <a href="/weatherpage4#ladakh"><i class="fa fa-umbrella"></i>weather</a>
                                      </div></div>

                  </div>
              </div>
        </div>


        <div class="row" >
            <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
                <div class="row" style="padding: 10px 1px; border-radius:2px;">

                            <div class="col-md-auto"  style=" width:auto; height:auto;">

                                    <div class="bd-example" >
                                          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                              <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                  <img  src= " {{ url_for('static', filename='img/Burzahom1.jpg') }}/" class="d-block w-100" alt="Image can't be loaded">
                                                  <div class="carousel-caption d-none d-md-block">
                                                  </div>
                                                </div>
                                                <div class="carousel-item">
                                                  <img src="{{ url_for('static', filename='img/Burzahom2.jpg') }}/" class="d-block w-100" alt="Image can't be loaded">

                                                </div>
                                                <div class="carousel-item">
                                                    <img src="{{ url_for('static', filename='img/Burzahom3.jpg') }}/" class="d-block w-100" alt="Image can't be loaded">

                                                  </div>
                                              </div>

                                          </div>
                                        </div>

                                        <div class="col-md-auto">
                                          <h6 class="text-center">Alchi</h6>
                                          <a href=" https://en.wikipedia.org/wiki/Alchi" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                          <a href= "https://www.google.com/maps/place/Alchi/@34.2267812,77.1624649,15z/data=!3m1!4b1!4m5!3m4!1s0x38fd0af4d3f6fd8d:0x2b46cef913c2d263!8m2!3d34.2250417!4d77.1708039" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                          <a href=""><i class="fa fa-inbox"></i>River</a><br>
                                          <a href="/weatherpage4#jammu"><i class="fa fa-umbrella"></i>weather</a>
                                      </div></div>

                  </div>
              </div>


        </div>





      </div>











      </div>
    </div>



        <!-- Footer -->
<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-3">
					<h5>Home page</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/home"><i class="fa fa-angle-double-right"></i>Home</a></li>

					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<h5>About Us</h5>
					<ul class="list-unstyled quick-links">

						<li><a href="/about"><i class="fa fa-angle-double-right"></i>About</a></li>

					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<h5>Weather</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/weather"><i class="fa fa-angle-double-right"></i>Weather</a></li>

					</ul>
                </div>
                <div style="margin: auto;" class="col-xs-12 col-sm-4 col-md-3">
					<h5>Application</h5>
					<ul class="list-unstyled quick-links">
                        <li><a href=""><img src="/static/img/googleplay.jpg" style="height:30.5px;width:103.25px;border-radius:10px;"></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>Soon on play store</a></li>

					</ul>
				</div>
			</div>
			<div class="row">

					<ul class="list-unstyled text-center" style="display: flex; margin: auto;justify-content: space-between;width: 50%;">
                                    <li ><a href="javascript:void();"><img src="{{ url_for('static', filename='img/twitter.png') }}/" height="30px" width="30px"></a></li>
                                    <li ><a href="https://www.instagram.com/sail_at_india/" target="_blank"><img src="{{ url_for('static', filename='img/instagram.png') }}/" height="30px" width="30px"></i></a></li>
						<li ><a href="mailto:sailatindia@gmail.com"><img src="{{ url_for('static', filename='img/search.png') }}/" height="30px" width="30px"></a></li>

                              </ul>
				</div>
				</hr>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>This site was built by <u><a href=""><b>Mechanical</b></a></u> Students Of Karpagam College of Engineering . For further enquiry contact above links of us</p>
					<p class="h6">&copy All right Reserved.<a class="text-green ml-2" >Team SAIL_INDIA</a></p>
				</div>
				</hr>
			</div>
		</div>
	</section>
    <!-- ./Footer -->

  </body>
  </html>