<!DOCTYPE html>
<html>
        <head>
            <title>SAIL - MIZORAM</title>
        <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}/" type="image/icon type">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}/">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <style>
          .row{display:-ms-flexbox;display:flex;justify-content:center;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;}
body{
        background-color:black !important;

    }
        p{
    color:white !important;
}
          </style>


</head>
<body class="stb">

    <div id="wrapper">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/home"><img src="{{ url_for('static', filename='img/logo.png') }}/"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      &#9776;
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav ml-auto text-center">
                        <li class="nav-item">
                          <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/weather">Weather</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href='/signup'>Sign-up</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/about">About</a>
                        </li>
                      </ul>
                    </div>
                  </nav>

    </div>

    <div style="height:auto;width:90%;margin:auto;">
        <h3 style="margin-left: 5%; margin-top:auto;">MIZORAM</h3>
        <p style="margin-left: 5%; margin-top:auto;">Mizoram (English: /mɪˈzɔːrəm/ ) is a state in northeastern India, with Aizawl as its capital city. The name is derived from "Mizo", the name of the native inhabitants, and "Ram", which means land, and thus Mizoram means "land of the Mizos". Within the northeast region, it is the southernmost landlocked state, sharing borders with three of the Seven Sister States, namely Tripura, Assam and Manipur. The state also shares a 722-kilometre border with the neighbouring countries of Bangladesh and Myanmar.</p>
        <hr style="margin-left: 5%; margin-top:auto;">
        <p style="margin-left: 5%; margin-top:auto;">Like several other northeastern states of India, Mizoram was previously part of Assam until 1972, when it was carved out as a Union Territory. It became the 23rd state of India, a step above Union Territory, on 20 February 1987, with the Fifty-Third Amendment of the Indian Constitution, 1986.</p>
      </div>



      <div style="height: auto;width:90%;margin:auto;">
        <h3 style="margin-left:5%;">Tourist Spots</h3>


        <div class="row" >
          <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
            <div class="row" style="padding: 10px 1px; border-radius:2px;">

                        <div class="col-md-auto"  style=" width:auto; height:auto;">

                                <div class="bd-example" >
                                      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <img  src= " https://tourism.mizoram.gov.in/upload/districtgalleries/_56f26cf4ab9ae.jpg " class="d-block w-100" alt="...">
                                              <div class="carousel-caption d-none d-md-block">
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <img src="https://tourism.mizoram.gov.in/upload/placegalleries/_56f26d9f49842.jpg " class="d-block w-100" alt="...">

                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://tourism.mizoram.gov.in/upload/districtgalleries/_56f265d70fd39.jpg  " class="d-block w-100" alt="...">

                                              </div>
                                          </div>

                                      </div>
                                    </div>

                                    <div class="col-md-auto">
                                      <h6 class="text-center">Reiek Tlang</h6>
                                      <a href=" http://www.holidayevening.com/india/mizoram/champhai/thasiama-seno-neihna-tour" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                      <a href= " https://www.google.com/maps/place/Reiek+Tlang/@23.6823705,92.6046232,14z/data=!4m5!3m4!1s0x374d927068a2bd5d:0x8302c43297e8c5c8!8m2!3d23.6804068!4d92.6270252!5m1!1e4 " target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                      <a href=""><i class="fa fa-inbox"></i>-</a><br>
                                      <a href="/weatherpage2#MIZORAM"><i class="fa fa-umbrella"></i>weather</a>
                                  </div></div>

              </div>
          </div>


          <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
            <div class="row" style="padding: 10px 1px; border-radius:2px;">

                        <div class="col-md-auto"  style=" width:auto; height:auto;">

                                <div class="bd-example" >
                                      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <img  src= " {{ url_for('static', filename='img/Thasiama1.jpg') }}/  " class="d-block w-100" alt="...">
                                              <div class="carousel-caption d-none d-md-block">
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <img src="{{ url_for('static', filename='img/Thasiama2.jpg') }}/  " class="d-block w-100" alt="...">

                                            </div>
                                            <div class="carousel-item">
                                                <img src="{{ url_for('static', filename='img/Thasiama3.jpg') }}/ " class="d-block w-100" alt="...">

                                              </div>
                                          </div>

                                      </div>
                                    </div>

                                    <div class="col-md-auto">
                                      <h6 class="text-center"> Seno-neihna</h6>
                                      <a href="http://www.holidayevening.com/india/mizoram/champhai/thasiama-seno-neihna-tour" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                      <a href= " https://www.google.com/maps/place/Thasiama+Seno-neihna/@23.1308393,93.3184505,15z/data=!4m5!3m4!1s0x0:0xfe8e45fc630d5005!8m2!3d23.1308393!4d93.3184505" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                      <a href=""><i class="fa fa-inbox"></i>Thasiama</a><br>
                                      <a href="/weatherpage2#MIZORAM"><i class="fa fa-umbrella"></i>weather</a>
                                  </div></div>

              </div>
          </div>

          <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
            <div class="row" style="padding: 10px 1px; border-radius:2px;">

                        <div class="col-md-auto"  style=" width:auto; height:auto;">

                                <div class="bd-example" >
                                      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <img  src= "{{ url_for('static', filename='img/Khuangchera1.jpg') }}/ " class="d-block w-100" alt="...">
                                              <div class="carousel-caption d-none d-md-block">
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <img src="{{ url_for('static', filename='img/Khuangchera2.JPG') }}/" class="d-block w-100" alt="...">

                                            </div>
                                            <div class="carousel-item">
                                                <img src=" {{ url_for('static', filename='img/Khuangchera3.jpg') }}/" class="d-block w-100" alt="...">

                                              </div>
                                          </div>

                                      </div>
                                    </div>

                                    <div class="col-md-auto">
                                      <h6 class="text-center">Khuangchera Puk</h6>
                                      <a href="https://en.wikipedia.org/wiki/Reiek" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                      <a href= "https://www.google.com/maps/place/Khuangchera+Puk/@23.6935299,92.6134063,15z/data=!4m5!3m4!1s0x0:0x400c79431d1ed737!8m2!3d23.6935299!4d92.6134063" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                      <a href=""><i class="fa fa-inbox"></i>Fort</a><br>
                                      <a href="/weatherpage2#MIZORAM"><i class="fa fa-umbrella"></i>weather</a>
                                  </div></div>

              </div>
          </div>




        </div>



        <div class="row" >
          <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
            <div class="row" style="padding: 10px 1px; border-radius:2px;">

                        <div class="col-md-auto"  style=" width:auto; height:auto;">

                                <div class="bd-example" >
                                      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <img  src= " http://www.famousplacesinindia.in/WaterFalls/Images/Vantawang-Waterfalls/Vantawang-Waterfalls.jpg " class="d-block w-100" alt="...">
                                              <div class="carousel-caption d-none d-md-block">
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <img src="https://www.adotrip.com/public/images/areas/5c3dcfbb70ab3-Vantawng%20Falls%20Places%20to%20See.jpg " class="d-block w-100" alt="...">

                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://www.adotrip.com/public/images/areas/5c3dcfbd4fd0b-Vantawng%20Falls%20Trip.jpg  " class="d-block w-100" alt="...">

                                              </div>
                                          </div>

                                      </div>
                                    </div>

                                    <div class="col-md-auto">
                                      <h6 class="text-center">Vantawng Falls</h6>
                                      <a href="https://en.wikipedia.org/wiki/Vantawng_Falls" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                      <a href= "https://www.google.com/maps/place/Vantawng+Falls/@23.3416578,92.8502302,15z/data=!4m5!3m4!1s0x0:0x56aab461775e93e3!8m2!3d23.3416578!4d92.8502302 " target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                      <a href=""><i class="fa fa-inbox"></i>Falls</a><br>
                                      <a href="/weatherpage2#MIZORAM"><i class="fa fa-umbrella"></i>weather</a>
                                  </div></div>

              </div>
          </div>


          <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
            <div class="row" style="padding: 10px 1px; border-radius:2px;">

                        <div class="col-md-auto"  style=" width:auto; height:auto;">

                                <div class="bd-example" >
                                      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <img  src= "https://www.adotrip.com/public/images/areas/master_images/5c3dcf4b578e4-Palak_Lake_Attractions.jpg" class="d-block w-100" alt="...">
                                              <div class="carousel-caption d-none d-md-block">
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <img src="https://www.adotrip.com/public/images/areas/5c3dcf4a37d13-Palak%20Lake%20Travel%20Plan.jpg" class="d-block w-100" alt="...">

                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://www.adotrip.com/public/images/areas/master_images/5c3dcf4b578e4-Palak_Lake_Attractions.jpg " class="d-block w-100" alt="...">

                                              </div>
                                          </div>

                                      </div>
                                    </div>

                                    <div class="col-md-auto">
                                      <h6 class="text-center">Ngengpui Wildlife Sanctuary</h6>
                                      <a href="https://en.wikipedia.org/wiki/Lengteng_Wildlife_Sanctuary" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                      <a href= "https://www.google.com/maps/place/Ngengpui+Wildlife+Sanctuary/@22.4409572,92.7879401,15z/data=!4m5!3m4!1s0x0:0x799e34e7389c53ba!8m2!3d22.4409572!4d92.7879401" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                      <a href=""><i class="fa fa-inbox"></i>Thasiama</a><br>
                                      <a href="/weatherpage2#MIZORAM"><i class="fa fa-umbrella"></i>weather</a>
                                  </div></div>

              </div>
          </div>

          <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
            <div class="row" style="padding: 10px 1px; border-radius:2px;">

                        <div class="col-md-auto"  style=" width:auto; height:auto;">

                                <div class="bd-example" >
                                      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <img  src= "https://tourism.mizoram.gov.in/upload/placegalleries/_56f26d4399815.jpg" class="d-block w-100" alt="...">
                                              <div class="carousel-caption d-none d-md-block">
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <img src="https://www.adotrip.com/public/images/areas/master_images/5c3dcf655a343-Phawngpui_Hills_Attractions.jpg" class="d-block w-100" alt="...">

                                            </div>
                                            <div class="carousel-item">
                                                <img src=" https://www.adotrip.com/public/images/areas/5c3dcf643755e-Phawngpui%20Hills%20Travel%20Plan.jpg" class="d-block w-100" alt="...">

                                              </div>
                                          </div>

                                      </div>
                                    </div>

                                    <div class="col-md-auto">
                                      <h6 class="text-center">Blue Mountain</h6>
                                      <a href="https://en.wikipedia.org/wiki/Blue_Mountain" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                      <a href= "https://www.google.com/maps/place/Blue+Mountain,+Mizoram+796810/data=!4m2!3m1!1s0x374d2b0c93862a2d:0xb4711a0d9e2bb6f0!5m1!1e4?sa=X&ved=2ahUKEwiGz_q_-7vlAhWLfH0KHUWOAJUQ8gEwEnoECA0QBA" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                      <a href=""><i class="fa fa-inbox"></i>Fort</a><br>
                                      <a href="/weatherpage2#MIZORAM"><i class="fa fa-umbrella"></i>weather</a>
                                  </div></div>

              </div>
          </div>




        </div>












      </div>











      </div>
    </div>


        <!-- Footer -->
<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-3">
					<h5>Home page</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/home"><i class="fa fa-angle-double-right"></i>Home</a></li>

					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<h5>About Us</h5>
					<ul class="list-unstyled quick-links">

						<li><a href="/about"><i class="fa fa-angle-double-right"></i>About</a></li>

					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<h5>Weather</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/weather"><i class="fa fa-angle-double-right"></i>Weather</a></li>

					</ul>
                </div>
                <div style="margin: auto;" class="col-xs-12 col-sm-4 col-md-3">
					<h5>Application</h5>
					<ul class="list-unstyled quick-links">
                        <li><a href=""><img src="/static/img/googleplay.jpg" style="height:30.5px;width:103.25px;border-radius:10px;"></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>Soon on play store</a></li>

					</ul>
				</div>
			</div>
			<div class="row">

					<ul class="list-unstyled text-center" style="display: flex; margin: auto;justify-content: space-between;width: 50%;">
                                    <li ><a href="javascript:void();"><img src="{{ url_for('static', filename='img/twitter.png') }}/" height="30px" width="30px"></a></li>
                                    <li ><a href="https://www.instagram.com/sail_at_india/" target="_blank"><img src="{{ url_for('static', filename='img/instagram.png') }}/" height="30px" width="30px"></i></a></li>
						<li ><a href="mailto:sailatindia@gmail.com"><img src="{{ url_for('static', filename='img/search.png') }}/" height="30px" width="30px"></a></li>

                              </ul>
				</div>
				</hr>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>This site was built by <u><a href=""><b>Mechanical</b></a></u> Students Of Karpagam College of Engineering . For further enquiry contact above links of us</p>
					<p class="h6">&copy All right Reserved.<a class="text-green ml-2" >Team SAIL_INDIA</a></p>
				</div>
				</hr>
			</div>
		</div>
	</section>
    <!-- ./Footer -->
  </body>
  </html>