<!DOCTYPE html>
<html>
        <head>
         <title>SAIL - WEST BENGAL </title>
        <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}/" type="image/icon type">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}/">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <style>
          .row{display:-ms-flexbox;display:flex;justify-content:center;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;}
    body{
        background-color:black !important;

    }
    p{
    color:white !important;
}
          </style>


</head>
<body class="stb">

    <div id="wrapper">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/home"><img src="{{ url_for('static', filename='img/logo.png') }}/"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      &#9776;
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav ml-auto text-center">
                        <li class="nav-item">
                          <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/weather">Weather</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href='/signup'>Sign-up</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/about">About</a>
                        </li>
                      </ul>
                    </div>
                  </nav>

    </div>

    <div style="height:auto;width:90%;margin:auto;">
        <h3 style="margin-left: 5%; margin-top:auto;">West Bengal</h3>
        <p style="margin-left: 5%; margin-top:auto;">West Bengal (/bɛnˈɡɔːl/; Bengali: Paschim Banga) is a state in the eastern region of India along the Bay of Bengal. With over 91 million inhabitants (as of 2011), it is India's fourth-most populous state. West Bengal is the thirteenth-largest Indian state, with an area of 88,752 km2 (34,267 sq mi). Part of the ethno-linguistic Bengal region of the Indian subcontinent, it borders Bangladesh in the east, and Nepal and Bhutan in the north. It also borders the Indian states of Odisha, Jharkhand, Bihar, Sikkim, and Assam. The state capital is Kolkata (Calcutta) the seventh-largest city in India, and center of the third-largest metropolitan area in the country. West Bengal includes the Darjeeling Himalayan hill region, the Ganges delta, the Rarh region, and the coastal Sundarbans. The main ethnic group is the Bengalis, with Bengali Hindus forming the demographic majority.  </p>
        <hr style="margin-left: 5%; margin-top:auto;">
        <p style="margin-left: 5%; margin-top:auto;">The area's early history featured a succession of Indian empires, internal squabbling, and a tussle between Hinduism and Buddhism for dominance. Ancient Bengal was the site of several major Janapadas (kingdoms), while the earliest cities date back to the Vedic period. The region was part of several ancient pan−Indian empires, including the Mauryans and Guptas. It was also a bastion of regional kingdoms. The citadel of Gauda served as the capital of the Gauda Kingdom, the Buddhist Pala Empire (8th–11th century) and Hindu Sena Empire (11th–12th century).</p>
      </div>



      <div style="height: auto;width:90%;margin:auto;">
        <h3 style="margin-left:5%;">Tourist Spots</h3>

        <div class="row" >
          <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
            <div class="row" style="padding: 10px 1px; border-radius:2px;">

                        <div class="col-md-auto"  style=" width:auto; height:auto;">

                                <div class="bd-example" >
                                      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <img  src= "https://examsdaily.in/wp-content/uploads/2018/02/Howrah-Bridge-At-Night-Photos-w.jpg" class="d-block w-100" alt="...">
                                              <div class="carousel-caption d-none d-md-block">
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <img src="https://www.tata.com/content/dam/tata/images/newsroom/heritage/desktop/howrah2_banner_desktop_1920x1080.jpg" class="d-block w-100" alt="...">

                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://www.adotrip.com/public/images/areas/master_images/5c3f1c448c6cf-Howrah_bridge_Attractions.jpg" class="d-block w-100" alt="...">

                                              </div>
                                          </div>

                                      </div>
                                    </div>

                                    <div class="col-md-auto">
                                      <h6 class="text-center">Howrah Bridge</h6>
                                      <a href="https://en.wikipedia.org/wiki/Howrah_Bridge " target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                      <a href= "https://www.google.com/maps/place/Rabindra+Setu,+West+Bengal/@22.5850506,88.3447092,17z/data=!3m1!4b1!4m5!3m4!1s0x3a0277bf226923ad:0x38cde136e96904d1!8m2!3d22.5850506!4d88.3468979" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                      <a href=""><i class="fa fa-inbox"></i>Bridge</a><br>
                                      <a href="/weatherpage3#WESTBENGAL"><i class="fa fa-umbrella"></i>weather</a>
                                  </div></div>

              </div>
          </div>

          <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
            <div class="row" style="padding: 10px 1px; border-radius:2px;">

                        <div class="col-md-auto"  style=" width:auto; height:auto;">

                                <div class="bd-example" >
                                      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <img  src= "{{ url_for('static', filename='img/Mandarmani1.jpg') }}/" class="d-block w-100" alt="...">
                                              <div class="carousel-caption d-none d-md-block">
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <img src="{{ url_for('static', filename='img/Mandarmani2.jpg') }}/" class="d-block w-100" alt="...">

                                            </div>
                                            <div class="carousel-item">
                                                <img src="{{ url_for('static', filename='img/Mandarmani3.jpg') }}/" class="d-block w-100" alt="...">

                                              </div>
                                          </div>

                                      </div>
                                    </div>

                                    <div class="col-md-auto">
                                      <h6 class="text-center">Mandarmani Beach</h6>
                                      <a href="https://en.wikipedia.org/wiki/Mandarmani" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                      <a href= "https://www.google.com/maps/place/Mandarmani+Beach/@21.6537959,87.6371342,13z/data=!3m1!4b1!4m5!3m4!1s0x3a032fd93a4bf789:0xa8e634453578d6a3!8m2!3d21.6479709!4d87.6445473" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                      <a href=""><i class="fa fa-inbox"></i>Beach</a><br>
                                      <a href="/weatherpage3#WESTBENGAL"><i class="fa fa-umbrella"></i>weather</a>
                                  </div></div>

              </div>
          </div>

          <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
            <div class="row" style="padding: 10px 1px; border-radius:2px;">

                        <div class="col-md-auto"  style=" width:auto; height:auto;">

                                <div class="bd-example" >
                                      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <img  src= "https://s1.dmcdn.net/v/OWffU1R_20J_0T8jq/x1080" class="d-block w-100" alt="...">
                                              <div class="carousel-caption d-none d-md-block">
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <img src="https://s2.dmcdn.net/v/ONpw_1RPbKjQPahOn/x1080" class="d-block w-100" alt="...">

                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://brainwayholidays.com/innerpage/img/Beaches/Digha/banner2.jpg" class="d-block w-100" alt="...">

                                              </div>
                                          </div>

                                      </div>
                                    </div>

                                    <div class="col-md-auto">
                                      <h6 class="text-center">Digha Beach</h6>
                                      <a href="https://en.wikipedia.org/wiki/Digha" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                      <a href= "https://www.google.com/maps/place/Digha+Beach/@21.6268572,87.5286608,15z/data=!3m1!4b1!4m5!3m4!1s0x3a1ccd4afe81965d:0x5bb6fdaf9e74d36!8m2!3d21.627425!4d87.5368038 " target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                      <a href=""><i class="fa fa-inbox"></i>Beach</a><br>
                                      <a href="/weatherpage3#WESTBENGAL"><i class="fa fa-umbrella"></i>weather</a>
                                  </div></div>

              </div>
          </div>
        </div>


        <div class="row" >
            <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
                <div class="row" style="padding: 10px 1px; border-radius:2px;">

                            <div class="col-md-auto"  style=" width:auto; height:auto;">

                                    <div class="bd-example" >
                                          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                              <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                  <img  src= "https://www.adotrip.com/public/images/areas/master_images/5c3f1c12386cd-Darjeeling_Railway_Attractions.jpg " class="d-block w-100" alt="...">
                                                  <div class="carousel-caption d-none d-md-block">
                                                  </div>
                                                </div>
                                                <div class="carousel-item">
                                                  <img src="http://www.famousplacesinindia.in/Railways/Images/Darjeeling-Himalayan-Railway/Darjeeling-Himalayan-Railway-5.jpg  " class="d-block w-100" alt="...">

                                                </div>
                                                <div class="carousel-item">
                                                    <img src="http://www.devatravelhouse.com/wp-content/uploads/2018/10/darjeeelin2.jpg " class="d-block w-100" alt="...">

                                                  </div>
                                              </div>

                                          </div>
                                        </div>

                                        <div class="col-md-auto">
                                          <h6 class="text-center">Darjeeling </h6>
                                          <a href="https://en.wikipedia.org/wiki/Tripura_Government_Museumhttps://en.wikipedia.org/wiki/Darjeeling_Himalayan_Railway " target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                          <a href= "https://www.google.com/maps/place/Darjeeling+Himalayan+Railway,+West+Bengal/@26.8818035,88.319374,17z/data=!3m1!4b1!4m5!3m4!1s0x39e439fe9f5653a7:0x2eb420c598db5426!8m2!3d26.8818035!4d88.3215627
                                          " target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                          <a href=""><i class="fa fa-inbox"></i>Himalayan Railway</a><br>
                                          <a href="/weatherpage3#WESTBENGAL"><i class="fa fa-umbrella"></i>weather</a>
                                      </div></div>

                  </div>
              </div>

              <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
                <div class="row" style="padding: 10px 1px; border-radius:2px;">

                            <div class="col-md-auto"  style=" width:auto; height:auto;">

                                    <div class="bd-example" >
                                          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                              <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                  <img  src= "https://spotlight.it-notes.ru/wp-content/uploads/2019/06/9e9806af9c9aa2749199ef1c3e5c243a.jpg " class="d-block w-100" alt="...">
                                                  <div class="carousel-caption d-none d-md-block">
                                                  </div>
                                                </div>
                                                <div class="carousel-item">
                                                  <img src="https://s1.dmcdn.net/v/FqLrK1NJxg6sVq7Mf/x1080 " class="d-block w-100" alt="...">

                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://steemitimages.com/DQmQYUJMpEXBKyWK22JaQUmEoze7kGQcZ5UZ38GHnbaSCdE/Sunrise%20Alo.jpg " class="d-block w-100" alt="...">

                                                  </div>
                                              </div>

                                          </div>
                                        </div>

                                        <div class="col-md-auto">
                                          <h6 class="text-center">Tiger Hill</h6>
                                          <a href="https://en.wikipedia.org/wiki/Tiger_Hill,_Darjeeling" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                          <a href= "https://www.google.com/maps/place/Tiger+Hill,+Darjeeling/@26.9966652,88.2769348,14z/data=!3m1!4b1!4m5!3m4!1s0x39e42fc871567f95:0xa1c2abe55c058c58!8m2!3d26.9966667!4d88.2944444!5m1!1e4" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                          <a href=""><i class="fa fa-inbox"></i>Hill</a><br>
                                          <a href="/weatherpage3#WESTBENGAL"><i class="fa fa-umbrella"></i>weather</a>
                                      </div></div>

                  </div>
              </div>


              <div class="col-md-3" style="height:70%;width:70%; margin:10px 10px 10px 10px;border-radius: 4px;box-shadow:0 0 1px 1px lightgrey;" >
                <div class="row" style="padding: 10px 1px; border-radius:2px;">

                            <div class="col-md-auto"  style=" width:auto; height:auto;">

                                    <div class="bd-example" >
                                          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                              <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                  <img  src= " https://wallpapercave.com/wp/wp2676875.jpg " class="d-block w-100" alt="...">
                                                  <div class="carousel-caption d-none d-md-block">
                                                  </div>
                                                </div>
                                                <div class="carousel-item">
                                                  <img src="https://www.travellifex.com/wp-content/uploads/2019/04/5-Natural-Parks-that-are-Creating-Exciting-Eco-tourism-in-India.jpg" class="d-block w-100" alt="...">

                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://i.imgur.com/zLdypoG.jpg" class="d-block w-100" alt="...">

                                                  </div>
                                              </div>

                                          </div>
                                        </div>

                                        <div class="col-md-auto">
                                          <h6 class="text-center">Sundarban Park</h6>
                                          <a href="https://en.wikipedia.org/wiki/Sundarbans_National_Park" target="_blank"><i class="fa fa-wikipedia-w"></i>wikipedia</a><br>
                                          <a href= "https://www.google.com/maps/place/Sundarban+National+Park/@21.8358595,88.8842011,15z/data=!4m5!3m4!1s0x0:0xe99cba5218a4be78!8m2!3d21.8358595!4d88.8842011" target="_blank"><i class="fa fa-map-marker"></i>Location</a><br>
                                          <a href=""><i class="fa fa-inbox"></i>National Park</a><br>
                                          <a href="/weatherpage3#WESTBENGAL"><i class="fa fa-umbrella"></i>weather</a>
                                      </div></div>

                  </div>
              </div>





        </div>









      </div>











      </div>
    </div>



          <!-- Footer -->
<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-3">
					<h5>Home page</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/home"><i class="fa fa-angle-double-right"></i>Home</a></li>

					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<h5>About Us</h5>
					<ul class="list-unstyled quick-links">

						<li><a href="/about"><i class="fa fa-angle-double-right"></i>About</a></li>

					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">
					<h5>Weather</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/weather"><i class="fa fa-angle-double-right"></i>Weather</a></li>

					</ul>
                </div>
                <div style="margin: auto;" class="col-xs-12 col-sm-4 col-md-3">
					<h5>Application</h5>
					<ul class="list-unstyled quick-links">
                        <li><a href=""><img src="/static/img/googleplay.jpg" style="height:30.5px;width:103.25px;border-radius:10px;"></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>Soon on play store</a></li>

					</ul>
				</div>
			</div>
			<div class="row">

					<ul class="list-unstyled text-center" style="display: flex; margin: auto;justify-content: space-between;width: 50%;">
                                    <li ><a href="javascript:void();"><img src="{{ url_for('static', filename='img/twitter.png') }}/" height="30px" width="30px"></a></li>
                                    <li ><a href="https://www.instagram.com/sail_at_india/" target="_blank"><img src="{{ url_for('static', filename='img/instagram.png') }}/" height="30px" width="30px"></i></a></li>
						<li ><a href="mailto:sailatindia@gmail.com"><img src="{{ url_for('static', filename='img/search.png') }}/" height="30px" width="30px"></a></li>

                              </ul>
				</div>
				</hr>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>This site was built by <u><a href=""><b>Mechanical</b></a></u> Students Of Karpagam College of Engineering . For further enquiry contact above links of us</p>
					<p class="h6">&copy All right Reserved.<a class="text-green ml-2" >Team SAIL_INDIA</a></p>
				</div>
				</hr>
			</div>
		</div>
	</section>
    <!-- ./Footer -->

  </body>
  </html>